*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: rgb(94, 16, 94);
}
.main{
    width: 400px;
    height: 500px;
    margin: 70px auto;
    background: #fff;
    border-radius: 20px;
}
#display{
    border: none;
    outline: none;
    width: 380px;
    height: 100px;
    color: rgb(110, 110, 110);
    font-size: 60px;
    padding: 10px;
    text-align: right;
    background :rgba(46, 151, 145, 0.936);
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}
.buttons{
    margin: 35px 15px;
}
.btn{
    width: 60px;
    height: 55px;
    margin: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    border-radius: 50%;
    background-color: #ecedef;
    color: rgb(110, 110, 110);
}
.btn:hover{
    background: #4c4c4c;
}
.cbtn, .cbtn:hover{
    background:rgb(27, 99, 95) ;
    color: white;
}
.mbtn, .mbtn:hover{
    background: rgba(46, 151, 145, 0.936);
    color: #fff;
}
